<html>
    <body>
        <ul>
            <li><a href="/">{{ name }}</a></li>
        </ul>
            <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <p>Ao vivo</p>
                    <div class="table100 ver1 m-b-110" style="padding-top:0px;">
					    <div class="table100-body js-pscroll">
                            <table>
                                <tbody>
                                    {% for p in live_list %}
                                    <tr class="row100 body">
                                        <td class="cell100 column1">
                                            <a href="{% url 'detail' p.id %}">{{ p.name }}</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <p>Radio Globo</p>
                    <div class="table100 ver1 m-b-110">
                        <div class="table100-head">
                            <table>
                                <thead>
                                    <tr class="row100 head">
                                        <th class="cell100 column1">Programas</th>
                                        <th class="cell100 column2">tipo</th>
                                        <th class="cell100 column3">ao vivo</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
					    <div class="table100-body js-pscroll">
                            <table>
                                <tbody>
                                    {% for p in globo_list %}
                                    <tr class="row100 body">
                                        <td class="cell100 column1">
                                            <a href="{% url 'detail' p.id %}">{{ p.name }}</a>
                                        </td>
                                        <td class="cell100 column2">{{ p.p_type_name }}</td>
                                        {% if p.is_live %}
                                            <td class="cell100 column3">sim</td>
                                        {% else %}
                                        <td class="cell100 column3">nao</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                <p>Radio CBN</p>
                <div class="table100 ver1 m-b-110">
                        <div class="table100-head">
                            <table>
                                <thead>
                                    <tr class="row100 head">
                                        <th class="cell100 column1">Programas</th>
                                        <th class="cell100 column2">tipo</th>
                                        <th class="cell100 column3">ao vivo</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
					    <div class="table100-body js-pscroll">
                            <table>
                                <tbody>
                                    {% for p in cbn_list %}
                                    <tr class="row100 body">
                                        <td class="cell100 column1">
                                            <a href="{% url 'detail' p.id %}">{{ p.name }}</a>
                                        </td>
                                        <td class="cell100 column2">{{ p.p_type_name }}</td>
                                        {% if p.is_live %}
                                            <td class="cell100 column3">sim</td>
                                        {% else %}
                                        <td class="cell100 column3">nao</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <p>Radio BH</p>
                    <div class="table100 ver1 m-b-110">
                        <div class="table100-head">
                            <table>
                                <thead>
                                    <tr class="row100 head">
                                        <th class="cell100 column1">Programas</th>
                                        <th class="cell100 column2">tipo</th>
                                        <th class="cell100 column3">ao vivo</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table100-body js-pscroll">
                            <table>
                                <tbody>
                                    {% for p in bh_list %}
                                    <tr class="row100 body">
                                        <td class="cell100 column1">
                                            <a href="{% url 'detail' p.id %}">{{ p.name }}</a>
                                        </td>
                                        <td class="cell100 column2">{{ p.p_type_name }}</td>
                                        {% if p.is_live %}
                                            <td class="cell100 column3">sim</td>
                                        {% else %}
                                        <td class="cell100 column3">nao</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'programs/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'programs/util.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'programs/custom.css' %}">
    </body>
</html>
